{% extends "base/admin.html" %}
{% block title %}Admin categorias{% endblock title %}
{% block content %}
<title>Admin categorias</title>
<br> 
<center><h2>Categorias</h2></center>
<br> 
<hr>
<a href="{% url 'core:Newcategory' %}" class="btn btn-outline-success form-control">Crear una categoria</a>
   <table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th></th>
        <th>Acciones</th>
        <th></th>
    </thead>
      
       <tbody>
    
           {% for category in category %}
           </tr>
           <td>{{ category.id }}</td>
           <td>{{ category.name }}</td>
           <td><a href="{% url 'core:detail_category' category.id %}" class="btn btn-outline-info">Detalles</a></td>
           <td><a href="{% url 'core:update_category' category.id %}" class="btn btn-outline-warning">Acutalizar</a></td>
           <td><a href="{% url 'core:delete_category' category.id %}" class="btn btn-outline-danger">Borrar</a></td>
          
          
           </tr>
           {% endfor %}
          
       </tbody>
    
   </table>
  
{% endblock content %}
