{% extends 'base/admin.html' %}

{% block title %}
borrar categoria
{% endblock title %}

{% block content %}
<br>
<br>
    <form action="" method="post">
        {% csrf_token %}
            <h4>Borrar categoria</h4>
            <p>¿Realmente deseas borrar estea categoria : {{ object.name }} ? </p>
            <button type="submit" class="btn btn-danger">Borrar categoria</button>
            <a href="{% url 'core:category' %}" class="btn btn-warning">Cancelar</a>
    </form>
{% endblock content %}  