{% extends 'base/admin.html' %}

{% block title %}
Detalles de categoria
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Detalles de la campaña</h2>
        <ul class="list-group">
          <li class="list-group-item"><strong>ID: </strong> {{ category.id }}</li>
          <li class="list-group-item"><strong>Name: </strong> {{ category.name }}</li>
          <li class="list-group-item"><strong>Ultima persona que lo edito: </strong> {{ category.lasteditor }}</li>


        </ul>
      </div>
    </div>
    <a href="{% url 'core:category' %}" class="btn btn-link">Volver</a>
  </div>
{% endblock content %}
