{% extends 'base/admin.html' %}

{% block title %}
Detalles de campaña
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Detalles de la campaña</h2>
        <ul class="list-group">
          <li class="list-group-item"><strong>ID: </strong> {{ payment.id }}</li>
          <li class="list-group-item"><strong>Name: </strong> {{ payment.name }}</li>
          <li class="list-group-item"><strong>Referencia: </strong> {{ payment.reference }}</li>

        </ul>
      </div>
    </div>
    <a href="{% url 'core:payment' %}" class="btn btn-link">Volver</a>
  </div>
{% endblock content %}
