{% extends 'base/admin.html' %}

{% block title %}
Nuevo metodo de pago
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-success form-control">Crear nuevo metodo de pago</button>
        <br>
        <a href="{% url 'core:payment' %}" class="btn btn-outline-warning form-control">Cancelar</a>
    </form>
{% endblock content %}