{% extends "base/admin.html" %}
{% block title %}Index View{% endblock title %}
{% block content %}


<br> 
<center><h2>Metodos de pagos</h2></center>
<br> 
<hr>
<a href="{% url 'core:Newpayment' %}" class="btn btn-outline-success form-control">Crear un nuevo metodo de pago</a>


   <table class="table table-striped">
       <thead>
           <th>ID</th>
           <th>Nombre</th>
           <th></th>
           <th>Acciones</th>
           <th></th>
       </thead>
      
       <tbody>
    
           {% for payment in payment %}
           </tr>
           <td>{{ payment.id }}</td>
           <td>{{ payment.name }}</td>
           <td><a href="{% url 'core:detail_payment' payment.id %}" class="btn btn-outline-info">Deltalles</a></td>
           <td><a href="{% url 'core:update_payment' payment.id %}" class="btn btn-outline-warning">Actualizar</a></td>
           <td><a href="{% url 'core:delete_payment' payment.id %}" class="btn btn-outline-danger">Borrar</a></td>
          
          
           </tr>
           {% endfor %}
          
       </tbody>
    
   </table>
  
{% endblock content %}
