{% extends 'base/admin.html' %}

{% block title %}
Borrar un genero
{% endblock title %}

{% block content %}
<br>
<br>
    <form action="" method="post">
        {% csrf_token %}
            <h4>Borrar el genero</h4>
            <p>¿Realmente deseas borrar este generpo: {{ object.name }} ? </p>
            <button type="submit" class="btn btn-danger">Borrar genero</button>
            <a href="{% url 'core:gender' %}" class="btn btn-warning">Cancelar</a>
    </form>
{% endblock content %}  