{% extends 'base/admin.html' %}

{% block title %}
Detalles del genero
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Detalles del genero</h2>
        <ul class="list-group">
          <li class="list-group-item"><strong>ID: </strong> {{ gender.id }}</li>
          <li class="list-group-item"><strong>Name: </strong> {{ gender.name }}</li>
          <li class="list-group-item"><strong>Ultima persona que lo edito: </strong> {{ gender.lasteditor }}</li>

        </ul>
      </div>
    </div>
    <a href="{% url 'core:gender' %}" class="btn btn-link">Volver</a>
  </div>
{% endblock content %}
