{% extends "base/admin.html" %}
{% block title %}Admin generos{% endblock title %}
{% block content %}
<title>Admin generos</title>

<br> 
<center><h2>Generos</h2></center>
<br> 
<hr>
<a href="{% url 'core:Newgender' %}" class="btn btn-outline-success form-control">Crear un genero</a>


   <table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th></th>
        <th>Acciones</th>
        <th></th>
    </thead>
      
       <tbody>
    
           {% for gender in gender %}
           </tr>
           <td>{{ gender.id }}</td>
           <td>{{ gender.name }}</td>
           <td><a href="{% url 'core:detail_gender' gender.id %}" class="btn btn-outline-info">Detalles</a></td>
           <td><a href="{% url 'core:update_gender' gender.id %}" class="btn btn-outline-warning">Actualizar</a></td>
           <td><a href="{% url 'core:delete_gender' gender.id %}" class="btn btn-outline-danger">Borrar</a></td>
          
          
           </tr>
           {% endfor %}
          
       </tbody>
    
   </table>
  
{% endblock content %}
