{% extends 'base/base.html' %}

{% block title %} 
CITYS 
{% endblock title %}

{% block content %}


    <a href="{% url 'core:create_ciudad' %}" class="btn btn-outline-success form-control">Create city</a>
    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>

        </thead>
        <tbody>
            {% for Ciudades in Ciudades %}
                <tr>
                    <td>{{ Ciudades.id }}</td>
                    <td>{{ Ciudades.Nombre }}</td>
                    <td><a href="{% url 'core:recover_ciudad' Ciudades.id %}" class="btn btn-outline-info"> DETAILS </a></td>
                    <td><a href="{% url 'core:update_ciudad' Ciudades.id %}" class="btn btn-outline-warning"> UPDATE</a></td>
                    <td><a href="{% url 'core:delete_ciudad' Ciudades.id %}" class="btn btn-outline-danger">DELETE</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock content %}