{% extends "base/base.html" %}

{% block title %}
CREATE CITY 
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-success">Create City</button>
        <a href="{% url 'core:ciudades' %}" class="btn btn-outline-warning">Cancel</a>
    </form>
{% endblock content %}   