{% extends "base/base.html" %}

{% block title %}
DELETE CITY 
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        ¿Desea borrar: {{ object.Nombre }}?
        <button type="submit" class="btn btn-outline-danger">Delete city</button>
        <a href="{% url 'core:ciudades' %}" class="btn btn-outline-warning">Cancel</a>
    </form>
{% endblock content %}