{% extends "base/base.html" %}

{% block title %}
DETAILS CITY 
{% endblock title %}


{% block content %}
<h1>Name: </h1>{{ object.Nombre }}
<br>
<h1>ID: </h1>{{ object.id }}
  <a href="{% url 'core:ciudades' %}">Back</a>
{% endblock content %}