{% extends 'base/base.html' %}

{% block title %} 
STADIUMS
{% endblock title %}

{% block content %}


    <a href="{% url 'core:create_estadio' %}" class="btn btn-outline-success form-control">New stadium</a>
    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>

        </thead>
        <tbody>
            {% for Estadios in Estadios %}
                <tr>
                    <td>{{ Estadios.id }}</td>
                    <td>{{ Estadios.Nombre }}</td>
                    <td><a href="{% url 'core:recover_estadio' Estadios.id %}" class="btn btn-outline-info"> Details </a></td>
                    <td><a href="{% url 'core:update_estadio' Estadios.id %}" class="btn btn-outline-warning"> Update</a></td>
                    <td><a href="{% url 'core:delete_estadio' Estadios.id %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock content %}

