{% extends "base/base.html" %}

{% block title %}
DETAIL STADIUM 
{% endblock title %}


{% block content %}
<h1>Name: </h1>{{ object.Nombre }}
<br>
<h1>Team: </h1>{{ object.Equipos }}

<br>
  
  <a href="{% url 'core:estadios' %}">Back</a>
{% endblock content %}