{% extends "base/logsing.html" %}
{% block title %}
Inicio sesion
{% endblock title %}
{% block  content %}
<style>
    label {
        color: white;
    }
    .btn-sample { 
        color: #FFFFFF; 
        background-color: #364361; 
        border-color: #FFFFFF; 
      } 
       
      .btn-sample:hover, 
      .btn-sample:focus, 
      .btn-sample:active, 
      .btn-sample.active, 
      .open .dropdown-toggle.btn-sample { 
        color: #FFFFFF; 
        background-color: #2A3245; 
        border-color: #FFFFFF; 
      } 
       
      .btn-sample:active, 
      .btn-sample.active, 
      .open .dropdown-toggle.btn-sample { 
        background-image: none; 
      } 
       
      .btn-sample.disabled, 
      .btn-sample[disabled], 
      fieldset[disabled] .btn-sample, 
      .btn-sample.disabled:hover, 
      .btn-sample[disabled]:hover, 
      fieldset[disabled] .btn-sample:hover, 
      .btn-sample.disabled:focus, 
      .btn-sample[disabled]:focus, 
      fieldset[disabled] .btn-sample:focus, 
      .btn-sample.disabled:active, 
      .btn-sample[disabled]:active, 
      fieldset[disabled] .btn-sample:active, 
      .btn-sample.disabled.active, 
      .btn-sample[disabled].active, 
      fieldset[disabled] .btn-sample.active { 
        background-color: #364361; 
        border-color: #FFFFFF; 
      } 
       
      .btn-sample .badge { 
        color: #364361; 
        background-color: #FFFFFF; 
      }
</style>
<center>
    <br>
    <br>
    <br>

<div class="card" style="width: 25rem;">
    <p> </p>
    <p> </p>
    
    <h5>Iniciar sesión</h5>
    <div class="card-body">
        <form action="" method="post" class="form">
            <div class="form-group">
            {% csrf_token %}
            {{ form }}
            <br>
            <button type="submit" class="btn btn-sample ">Acceder</button>
            <a href="{% url 'home:inicio' %}" class="btn btn-dark ">Cancelar</a>
            </div>
        </form>
    </div>
  </div>
</center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
   
{% endblock content  %}