{% extends 'base/admin.html' %}

{% block title %}admin{% endblock title %}


{% block content %}
<p>
    <br>
Lorem ipsum dolor sit amet consectetur adipiscing elit quam turpis, metus potenti venenatis viverra lacus arcu primis vivamus congue,       <br>
lectus proin euismod tellus nisi gravida suspendisse dapibus. Potenti arcu penatibus cubilia tempor ornare ultricies dictumst, suspendisse  <br>
egestas condimentum cras platea fermentum velit, feugiat bibendum convallis nulla habitant faucibus. Inceptos aenean sed cubilia sociosqu   <br>
tincidunt erat non lobortis tortor, euismod justo mus sapien nascetur volutpat nisi porta tempus dis, per ante cursus tempor posuere        <br>
quisque arcu ac.                                                                                                                            <br>
                                                                                                                                            <br>
Ullamcorper pretium magnis penatibus curae leo felis pellentesque, bibendum nulla lacinia metus augue blandit vestibulum sociosqu,          <br>
magna fames a cubilia aliquam malesuada. Nam magna mollis tristique leo sociis ridiculus ante maecenas aenean, torquent cras orci           <br>
enim viverra aliquet venenatis. Rutrum fames ornare est vestibulum a sociis elementum cum phasellus dis habitant erat turpis dapibus        <br>
orci, enim cursus pretium parturient condimentum semper consequat lacus viverra suspendisse augue platea ultricies.                         <br>
</p>
{% endblock content %}