{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <style>
        body {
            background-color:#ffffff;
        }
        
    </style>

</head>
<body>


    <!-- barra de navegacion  -->
    <nav class="navbar navbar-expand-lg" style="background-color: #434945;"  data-bs-theme="dark" >
        <div class="container-fluid">
            <a href="{% url 'home:inicio' %}" class = navbar-brand>BELLE D' LUXE</a>    
            <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                </ul>                
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"  >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                <form class="container-fluid">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="basic-addon1">
                      <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                    </div>
                </form>                

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person" style="font-size: 150%; color: white;"></i></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li><a class="dropdown-item" href="{% url 'core:adm' %}">Admin</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="login.html">Login</a></li>
                        <li><a class="dropdown-item" href="signup.html">Sign up</a></li>
                        <li><a class="dropdown-item" href="#">Log out</a></li>

                    </ul>
                </li>  
                <li class="nav-item" ><a class="nav-link active" aria-current="page" href="#">  <i class="bi bi-heart" style="font-size: 140%; color: white;"></i></a></li>
                <li class="nav-item" ><a class="nav-link active" aria-current="page" href="carrito.html">  <i class="bi bi-cart" style="font-size: 150%; color: white;"></i></a></li>
            </ul>
        </div>

    </nav>
      {% block content %}
      {% endblock content %}
      <div class="position-absolute top-100 start-50 translate-middle"><p> </p></div>
      <!-- Grid container -->
      <div class="container pt-4 text-center">



        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.facebook.com/belleedeluxe"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="bi bi-facebook" style="font-size: 100%; color: white;" ></i></a>
    
          <!-- Google -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.google.com/search?q=belle+de+luxe+tijuana&sca_esv=573670241&biw=1920&bih=937&tbm=lcl&ei=tY0sZb_JKd_UkPIP4OuFqAM&ved=0ahUKEwj_98WqsfmBAxVfKkQIHeB1ATUQ4dUDCAk&uact=5&oq=belle+de+luxe+tijuana&gs_lp=Eg1nd3Mtd2l6LWxvY2FsIhViZWxsZSBkZSBsdXhlIHRpanVhbmEyChAhGKABGMMEGApI_hBQkw1Ykw1wAHgAkAEAmAGTAaAB2gKqAQMxLjK4AQPIAQD4AQHCAgUQABiiBMICCBAAGIkFGKIEiAYB&sclient=gws-wiz-local#rlfi=hd:;si:;mv:[[32.52364412063617,-116.93859226079246],[32.49498109755391,-117.00296527714988]]"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="bi bi-google" style="font-size: 100%; color: white;"></i
          ></a>
    
          <!-- Instagram -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.instagram.com/belleedeluxe/"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="bi bi-instagram" style="font-size: 100%; color: white;" ></i></a>


            <!-- Tiktok -->
            <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.tiktok.com/@belleedeluxe"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="bi bi-tiktok" style="font-size: 100%; color: white;" ></i></a>
        </section>
        <!-- Section: Social media -->

        

    </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center text-white p-3" style="background-color: #434945;;">
        <ul class="list-inline">
            <li class="list-inline-item">            @belledeluxe Baja California Norte, México             </li>
            <li class="list-inline-item"></li>

          </ul>              
      </div>
      <!-- Copyright -->
    


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>    
</body>
</html>