{% extends 'base/principal.html' %}
{% load static %}

{% block title %}
{{ product.name }}
{% endblock title %}

{% block content %}

<style>

     #btn1{

      background-color: #000000;
      border: 1px solid rgb(255, 255, 255);
       color: rgb(255, 255, 255);
       padding: 10px 60px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 16px;
       margin-left: 5%;
       margin-top: 4%;
       cursor: pointer;
       border-radius: 30px;

     }

</style>


<br>
<br>
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <p id="nameproduct" style="font-size: 250%; padding-top: 20%; padding-bottom: 20%;">{{ product.name }}</p>
        <ul class="list-group">
          <li class="list-group-item"><strong>Descripción:</strong> {{ product.description }}</li>
          <li class="list-group-item"><strong>Talla:</strong> {{ product.size }}</li>
          <li class="list-group-item"><strong>Precio (Unidad):</strong> $ {{ product.price }}</li>
          <li class="list-group-item"><strong>Stock:</strong> {{ product.stock }}</li>

          <div class="col-md-6">
            <br>
            <label for="select">Cantidad</label>
            <select id="select" name="cantidad">
                {% for opcion in opciones %}
                    <option value="{{ opcion }}">{{ opcion }}</option>
                {% endfor %}
            </select>
        </div>
        


          <div class="col-6 text-end">

<br>

  <button type="button" id="add-button" value="{{product.id}}" class="btn btn-dark">Añadir al carrito</button> 




        </ul>
      </div>
      
      <div class="col-md-6">
        <img src="{{ product.imagen1.url }}" alt="{{ product.name }}" class="img-fluid">
      </div>
    </div>
  </div>
  <a id="btn1" href="{% url 'tienda:tienda'%}" class="btn btn-info" role="button">Regresar</a>

<script>
    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "carrito:carrito_add" %}',
            data: {
                productId: $('#add-button').val(),
                productQty: $('#select option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
               document.getElementById("carrito-qty").innerHTML = json.qty
            },
            error: function (xhr, errmsg, err) {}
        });
    })
</script>


{% endblock content %}