{% extends 'base/admin.html' %}

{% block title %}
  PRODUCT DETAIL VIEW
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Product Details</h2>
        <ul class="list-group">
          <li class="list-group-item"><strong>ID:</strong> {{ product.id }}</li>
          <li class="list-group-item"><strong>Name:</strong> {{ product.name }}</li>
          <li class="list-group-item"><strong>Description:</strong> {{ product.description }}</li>
          <li class="list-group-item"><strong>Campaign:</strong> {{ product.campaign }}</li>
          <li class="list-group-item"><strong>Gender:</strong> {{ product.gender }}</li>
          <li class="list-group-item"><strong>Category:</strong> {{ product.category }}</li>
          <li class="list-group-item"><strong>Size:</strong> {{ product.size }}</li>
          <li class="list-group-item"><strong>Price (Unit):</strong> {{ product.price_uni }}</li>
          <li class="list-group-item"><strong>Status:</strong> {{ product.status }}</li>
          <li class="list-group-item"><strong>Stock:</strong> {{ product.stock }}</li>
        </ul>
      </div>
        <div class="col-md-6">
          <img src="{{ product.imagen1.url }}" alt="{{ product.name }}" class="img-fluid">
        </div>
        
      </div>
  
        <br>
        <div class="row">
          <div class="column col-md-6"> 
            <img src="{{ product.imagen2.url }}" alt="{{ product.name }}" class="img-fluid">
          </div>
          <div class="column col-md-6"> 
            <img src="{{ product.imagen3.url }}" alt="{{ product.name }}" class="img-fluid">
          </div>
        </div> 
    <a href="{% url 'core:product' %}" class="btn btn-link">Volver</a>   
  </div>
{% endblock content %}
