{% extends "base/base.html" %}

{% block title %}
DELETE TEAM 
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        ¿Deseas borrar: {{ object.Nombre }}?
        <button type="submit" class="btn btn-outline-danger">Delete Team</button>
        <a href="{% url 'core:equipos' %}" class="btn btn-outline-warning">Cancel</a>
    </form>
{% endblock content %}