{% extends 'base/base.html' %}

{% block title %} 
TEAMS
{% endblock title %}

{% block content %}


    <a href="{% url 'core:create_equipo' %}" class="btn btn-outline-success form-control">New Team</a>
    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>

        </thead>
        <tbody>
            {% for Equipos in Equipos %}
                <tr>
                    <td>{{ Equipos.id }}</td>
                    <td>{{ Equipos.Nombre }}</td>
                    <td><a href="{% url 'core:recover_equipo' Equipos.id %}" class="btn btn-outline-info"> Details </a></td>
                    <td><a href="{% url 'core:update_equipo' Equipos.id %}" class="btn btn-outline-warning"> Update</a></td>
                    <td><a href="{% url 'core:delete_equipo' Equipos.id %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock content %}