{% extends "base/base.html" %}

{% block title %}
DETAILS TEAM 
{% endblock title %}


{% block content %}
<h1>Name: </h1>{{ object.Nombre }}
<br>
<h1>City: </h1>{{ object.Ciudad }}
<br>
  <a href="{% url 'core:equipos' %}">Back</a>
{% endblock content %}