{% extends "base/base.html" %}

{% block title %}
UPDATE TEAM
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-primary">Update Team</button>
        <a href="{% url 'core:equipos' %}" class="btn btn-outline-warning">Cancel</a>
    </form>
{% endblock content %}