{% extends 'base/base.html' %}

{% block title %} carrito {% endblock title %}


{% block content %}
<style>
  .blanco{
    color: white;
  }
</style>
<title> Carrito </title>

                    
                <!-- QUI IRAN LAS COLUMNAS -->
                
                <div class="container mt-5">
                    <div class="row">
                      <div class="col-sm-4">
                        <center> <h6 class="blanco" style="color:white;">Photo of me:</h6></center>
                        <div class="container py-4" style="width:200px"> 
                         <img style="width:200px" src="imagen vacia.avif" alt="">
                        </div>
                        <div class="fakeimg" style="color:white;">FACHIU</div>
                        <p class="blanco">Lorem ipsum dolor sit ame.</p>
                        <ul class="nav nav-pills flex-column">
                          <li class="nav-item">
                          <li class="nav-item">
                            <a class="nav-link disabled" href="#" style="color:white;">Disabled</a>
                          </li>
                        </ul>
                        <hr class="d-sm-none">
                      </div>
                      <div class="col-sm-4">
                        <br>
                        
                        <br>
                        <h5 class="blanco">Nombre del producto</h5>
                        <div>
                         <p class="blanco"> Descripcion de la prenda que se va a comprar </p>   
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <br>
                        <br>

                        <center><INPUT TYPE="NUMBER"  MIN="0" MAX="100" STEP="1" VALUE="6" SIZE="6" pattern="[0-9]*"></center>
                      </div>
                    </div>
                  </div>
                  


            
             
             

{% endblock content %}


