{% extends 'base/base.html' %}

{% block title %} inicio {% endblock title %}


{% block content %}
<title> Inicio </title>
    <!-- fin de la barra de navegacion -->
    <!-- inicio del cuerpo -->

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% endblock content %}


    
    <div class="position-absolute top-100 start-50 translate-middle"><p> </p></div>
          <!-- Grid container -->
          <div class="container pt-4 text-center">



            <div class="text-center text-white p-3">
                <ul>
                    <a class="text-white" href="{% url 'home:nosotros' %}">Sobre belle d'luxe</a>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <a class="text-white" href="{% url 'home:blog' %}">Nuestro blog</a>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <a class="text-white" href="{% url 'home:servicios' %}">Servicios</a>

                  </ul>              
            </div>


  

            <!-- Section: Social media -->
            <section class="mb-4">
              <!-- Facebook -->
              <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="https://www.facebook.com/belleedeluxe"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="bi bi-facebook" style="font-size: 100%; color: white;" ></i></a>
        
              <!-- Google -->
              <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="https://www.google.com/search?q=belle+de+luxe+tijuana&sca_esv=573670241&biw=1920&bih=937&tbm=lcl&ei=tY0sZb_JKd_UkPIP4OuFqAM&ved=0ahUKEwj_98WqsfmBAxVfKkQIHeB1ATUQ4dUDCAk&uact=5&oq=belle+de+luxe+tijuana&gs_lp=Eg1nd3Mtd2l6LWxvY2FsIhViZWxsZSBkZSBsdXhlIHRpanVhbmEyChAhGKABGMMEGApI_hBQkw1Ykw1wAHgAkAEAmAGTAaAB2gKqAQMxLjK4AQPIAQD4AQHCAgUQABiiBMICCBAAGIkFGKIEiAYB&sclient=gws-wiz-local#rlfi=hd:;si:;mv:[[32.52364412063617,-116.93859226079246],[32.49498109755391,-117.00296527714988]]"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="bi bi-google" style="font-size: 100%; color: white;"></i
              ></a>
        
              <!-- Instagram -->
              <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="https://www.instagram.com/belleedeluxe/"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="bi bi-instagram" style="font-size: 100%; color: white;" ></i></a>


                <!-- Tiktok -->
                <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="https://www.tiktok.com/@belleedeluxe"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="bi bi-tiktok" style="font-size: 100%; color: white;" ></i></a>
            </section>
            <!-- Section: Social media -->

            

        </div>
          <!-- Grid container -->
        
          <!-- Copyright -->
          <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <ul class="list-inline">
                <li class="list-inline-item">            @belledeluxe Baja California Norte, México             </li>
                <li class="list-inline-item"></li>
                <a class="text-white" href="{% url 'home:politicas' %}">politica de privacidad y cookies | condiciones de venta</a>
              </ul>              
          </div>
          <!-- Copyright -->
        


          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>    
</body>
</html>