{% extends 'base/base.html' %}

{% block title %}Nosotros{% endblock title %}



{% block content %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nosotros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

 <link rel="stylesheet" href="css-exclusivo-pro-admi-vip/westyle.css">
<nav class="nav">
  <a class="nav-link active" aria-current="page" href="{% url 'home:inicio' %}">BELLE D' LUXE</a>
</nav>
 ¿Vas a poner el mismo encavesado en muchas paguinas? -->
<!-- Si es el caso usa herencia -->
<!-- poner la base dices?-->
<!-- si -->
<!-- ok lo intentaré jeje-->
<!-- Pero si estaria bien o no???? -->
<!-- lo cuparemos apra 3 q 4 paginas esa barrita nomas jé -->
<!-- Siiii m abisas jeje ke me duermo o me baño kjwdnkw aino ke chistoso esto-->
<!-- ba te recomendaria descansar un rato -->
<!-- i despetar más tarde i seguir? asi le ases omg tip julio  -->
<!-- yo no duermo 😎 -->
<!-- porke deberia, luego se le hara pesado compañero, me paso i ahora-->
<!-- no puedo dormir tarde jeje, me iré a bañar en lo ke se ase las carptas vaaaa?-->
<!-- va recuerda que tenemos tarea del profe ray y fortigod -->
<!-- keeeeeeeeeee, nooo par amañana es la investigacion, me voi a  -->
<!-- i fortino? kual de fortino, no puede ser aaaaaaaaaaaaaaaa -->
<!-- es anotar( lo que no le dio tiempo a explicar) lo que supuestamente iba subir a teams (nunca subio la parte de la presentacion) -->
<!-- ademas para crear comentarios es con ctrl + k + c -->

<!-- aaa ya se cual, y la de rai, es para mañana?
lo de rebeca ya lo hicite?
ii se me olvido otra kosa ke iba a desir jeje 😂-->
<!-- lo de la profe reveca se encarga sebas si si si -->
<!-- con repecto a lo del profe ray segun yo si es para mañana,
  pero dudo que la revise asi como las investigacines del primer parcial -->
<!-- ya me acorde-->
<!--julioanimator SWNJDKWNJD-->
<!-- no te burles 😡 esta bien epico mi nombre  -->
<!--de que era la tareaaaaa, compañero-->
<!--siii solo ke es mui foni tu creatividad, mui unico KJDWNDW-->
<!--como es que pones emojiiiis, tu teclado tiene ?-->
<!-- la tarea es de herencia de plantillas django -->
<!-- es que estoy en windows y preciono win + . -->
<!--okeiiiii, ya estubo, esperame tantito, ahora si me meto a bañar i chambeo-->
<!--no borres los comentarios, bueno el de la tarea, ahorita lo voy a checar bnnnnn, ahorita que venga jeje-->
<!--oneminute-->

<!-- va -->
<!--compañero, la tarea es ingles ok-->
<!-- eso si nose -->
<!--es afrimacion jeje, kari le question-->
<!-- no puede ser que flojeraaaaaaaa -->
<!-- daaah, solo traduce -->
<!-- pero es a mano? -->
<!--noooooo, como vas hacer el formato IEEE, a mano-->
<!-- usas las manos para escribir en el teclado daaah -->
<!--aiiiiii ke dificil refutar eso -->
<!-- es que es la verdad 😎 -->
<!-- tene logica-->
<!--and shi gun meik your ais roll-->
<!-- Mejor hay que ver tiktoks en ves de hacer el proyecto -->
<!--siiiiiiii, pasa tistoks uwu i no dormimos por ver tistoks-->
<!-- no tengo tiktok en windows 🥲 -->
<!--q tite lloro-->
<!-- 😭😭😭😭😭😭😭 -->
<!-- 😭😭😭😭😭😭😭😭😭😭😭😭😭😭 -->
<!--komo le psusite de titilo a la tarea jeje-->
<!-- no la he hecho, yo soy mas de hacerla en la noche 😎 -->
<!-- me robasteee mis corchetes de comentarios-->
<!-- pero compañero ya es noche, daaaah -->
<!-- jajaja  -->
<!-- te ries, nom voi a pelear, respiro inhalo -->
<!-- no pelies 🤝 -->
<!-- porciento ya hice lo del base nadamas que no que diseño requiera-->
<!-- se lo puese al de politicas para probarlo -->
<!-- es que, hay paginas que tenen el mismo diseño, pero hay otras que no pero tambb repite-->
<!-- cómo lo miro -->

  <style>
    .blanco{
      color: white;
    }
  </style>
  <title> Nosotros </title>

    <br>


    <br>


    <h1 class="blanco">Acerca de nosotros</h1>
    <br>

    <hr>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <p class="blanco"> Nosotros en BELLE D- LUXE somos una marca de moda de lujo para hombres y mujeres
        que se origino dentro de la empresa de Rubis Collection fundada por el equipo
        comprometido: Xahil Alvarez, Julio Barron Quintana, Karime Pulido e Itzel Ruiz Pacheco.
        Nuestros valores fundamentales incluten el respeto, la responsabilidad, la igualdad, el compromiso
        la calidad, empatia y la libertad. Respetamos a cada indivuduo en todos los aspectos, asumimos
        la responsabilidad en todas nuestras acciones promovemos la igualdad y la diversidad. Nos comprometemos
        a ofrecer lo mejor en un ambiente positivo, valoramos la calidad y empatia en nuestro servicio al cliente
        y permitimos la libertad creativa de nuestro equipo, logrando nuestros objetivos profesionales.
             </p>
    </div>
    <div class="col-sm-4">
      <h3 class="blanco">imagen3</h3>

    </div>
  </div>

<footer>
<div class="footer mt-8 p-4">
  <p class="blanco">Footer</p>
</div>
</div>
</footer>
    {% endblock content %}