
{% extends 'base/base.html' %}

{% block title %}Políticas{% endblock title %}


{% block content %}
<!-- Entra a la pagina y te entra a ese apartado ola -->
<!-- ola-->
<!-- ya biiiii, creo que está bien, solo que se le pude cambiar el fondo
indidualmente, o siempre será verde, porkee algunos tiene blanco como fondo
en el wife-->
<!-- va -->
<!-- que iria en imagen 3 -->

<!-- un imagen lateral daaah kjwdndjkw-->

<!-- No puedo con esa logica tan logica  -->
<!-- es muy logica vdd-->
<!-- bueno, como te decia, mmmm-->
<!-- pondre la herencia en las demás i ya vemos ke disen luego ajajaja-->
<!-- pa tener algo-->
<!-- juliooo es pregunta jajajajajaja -->
<!-- Creo que estaria bien todo verde, pero hay que preguntarle al equipo que opina -->
<!-- Igual lel profe ray dijo que nunca quedan iguales los mukups al diseño final -->
<!-- siiii, bueno lo pondre verde por ahora, ya que le comentemos en ekipo vemos-->
<!-- por el momento berde jeje-->
<!-- pero elimnaste mi css -->
<!-- lo movi para que lo detectara el html -->

<!-- va, por el momento tendre que hacer la tarea del profe ray -->
<!-- si necesitas ayuda en algo me avisas por whatsap o por correo postal 

correo postaaal???????? si si coreopostal o por ping
siiiiim, tambb hare lo de rai, i vere si le avanzo aca terminando va que va

va va nos vemos

correpostal ya cerraron, correo de mejiko jeejej fedex no a cerrado o eso creo
aaaaaaaaaaa ping desde el cdmd
ovbio que desde cmd
 yo de grande trabajare en fedex, estemmmm ya tas grande jeje oye 😡😡 yo esto chavo 

amm si compañero, esta bien, pero no se enoje :(

serbicio de 24 hrs fedex si-->
<style>
    .blanco{
      color: white;
    }
  </style>
  <title> Politicas </title>

<p class="blanco">
Aviso Legal:

Bienvenido al sitio web de Belle D'Luxe. Por favor, lea atentamente los siguientes términos y condiciones antes de usar nuestro sitio web. Al acceder y utilizar este sitio, acepta cumplir y estar sujeto a estos términos y condiciones.

Política de Privacidad:

Esta Política de Privacidad describe cómo Belle D'Luxe recopila, utiliza y protege la información que usted nos proporciona cuando utiliza nuestro sitio web. Respetamos su privacidad y nos comprometemos a proteger su información personal. Lea esta política de privacidad detenidamente para comprender cómo tratamos sus datos.

    Recopilación de Información: Recopilamos información personal que usted nos proporciona voluntariamente, como su nombre, dirección de correo electrónico, dirección de envío, número de teléfono, etc., al realizar una compra o registrarse en nuestro sitio web.

    Uso de la Información: Utilizamos su información para procesar pedidos, proporcionar asistencia al cliente, mejorar nuestros productos y servicios, y enviarle información promocional, si ha dado su consentimiento.

    Protección de Datos: Sus datos personales se almacenan de forma segura y protegida. No vendemos ni compartimos su información con terceros sin su consentimiento.

    Política de Cookies: Utilizamos cookies para mejorar su experiencia en nuestro sitio web. Puede configurar sus preferencias de cookies en su navegador.

    Derechos del Usuario: Usted tiene derecho a acceder, corregir, eliminar o limitar el uso de sus datos personales. Puede ejercer estos derechos poniéndose en contacto con nosotros.

Política de Cookies:

Nuestro sitio web utiliza cookies para mejorar la experiencia del usuario. Las cookies son pequeños archivos de texto que se almacenan en su dispositivo cuando visita nuestro sitio. Estas cookies nos ayudan a analizar el tráfico del sitio, personalizar el contenido y ofrecer anuncios dirigidos.

    Tipos de Cookies: Utilizamos cookies de sesión y cookies persistentes, así como cookies de terceros para analítica y publicidad.

    Gestión de Cookies: Puede configurar sus preferencias de cookies en su navegador. Tenga en cuenta que la desactivación de ciertas cookies puede afectar su experiencia en nuestro sitio web.

Condiciones Generales de Venta:

Estas condiciones generales se aplican a todas las compras realizadas en Belle D'Luxe. Al realizar un pedido en nuestro sitio, acepta estas condiciones.

    Productos y Precios: Nos esforzamos por ofrecer productos de alta calidad a precios competitivos. Los precios y la disponibilidad están sujetos a cambios sin previo aviso.

    Envío: El envío se realizará a la dirección que nos proporcione. Los tiempos de entrega pueden variar.

    Devoluciones y Reembolsos: Aceptamos devoluciones dentro de los 30 días posteriores a la recepción del producto. Para más detalles, consulte nuestra política de devoluciones en nuestro sitio web.

    Pagos: Aceptamos pagos en línea a través de métodos seguros. Su información de pago se cifra y se mantiene de forma segura.

    Contacto: Si tiene alguna pregunta o necesita asistencia, no dude en ponerse en contacto con nuestro equipo de atención al cliente.
</p>

{% endblock content %}