{% extends 'base/principal.html' %} {% load static %} 
{% block title %}Blog |BELLE D' LUXE{% endblock title %} 
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'infocss/styletext.css' %}"/>

<body>

  <style>

    #btn1{

    background-color: #000000;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 5%;
    margin-top: 4%;
    cursor: pointer;
    border-radius: 30px;

    }

</style>


<div id="body" class="a">


  <div id="cuadroI" style="background-color: #ffffff">
    <p id="mini">Descubre el contenido que tenemos para tí</p>
    <p id=blog>NUESTRO BLOG</p>
  </div>

  <div class="mycontainer">
    <div id="cuadroII" style="background-color: #fff">
      <hr>
      <br>
      <hr>
    <img id="imgl" src="{% static 'imagenes/modelx.png'%}" alt=" " weight="470px" height="600px">
    <hr>
     <p>SERVICIOS</p>
      
      <hr>
    <img id="imgl" src="{% static 'imagenes/model.png'%}" alt=" " weight="470px" height="600px">
    <hr>
     <p>CATALOGO</p>
      
      <hr>
    </div>

    <div id="cuadroIII" style="background-color: #fff">
      <p id="new1">Tendencias para esta temporada Otoño-Invierno</p>
      <p id="author">
        por Team Belle <br>
        Noviembre 21, 2023
      </p>
      <p>
        La importancia de las tendencias de moda de otoño e invierno radica en
        que son una forma de expresión, comunicación y creatividad, que reflejan
        el estado de ánimo, la personalidad, los valores y las aspiraciones de
        las personas que las siguen o las crean. Además, las tendencias de moda
        de otoño e invierno tienen un impacto económico, social y cultural, ya
        que generan empleo, ingresos, consumo, innovación, diversidad y cambio.
      </p>
      <p>
        Las características de las tendencias de moda de otoño e invierno son
        variadas y dependen de la fuente de inspiración, el público objetivo, el
        mercado y la creatividad de los diseñadores. Sin embargo, se pueden
        identificar algunos rasgos comunes que definen las propuestas para esta
        temporada, como por ejemplo: <br>

        <br>
        El uso de colores vibrantes, como el rosa, el rojo, el verde o el azul,
        que contrastan con los tonos neutros y oscuros típicos del invierno, y
        que transmiten optimismo, energía y alegría. <br>
        <hr>
 
        <img id="imgb"  src="{% static 'imagenes/cuadroI.jpg'%}" alt=" " weight="170px" height="170px">
        <img id="imgb"  src="{% static 'imagenes/cuadroII.png'%}" alt=" " weight="170px" height="170px">
        <img id="imgb"  src="{% static 'imagenes/cuadroIII.png'%}" alt=" " weight="170px" height="170px">

        <hr>

        <br>La mezcla de estampados, especialmente los cuadros, que se
        presentan en todas sus variantes y tamaños, y que aportan dinamismo,
        diversidad y personalidad a los looks. <br>
        <br>
        La incorporación de piezas efecto piel, que se tiñen de colores vivos y
        que crean looks atrevidos, modernos y sofisticados, además de ser una
        opción más sostenible y ética que la piel animal. <br>

        <hr>
   
          <img id="imgb" src="{% static 'imagenes/cuadroIV.png'%}" alt=" " weight="170px" height="170px">
          <img id="imgb" src="{% static 'imagenes/cuadroV.png'%}" alt=" " weight="170px" height="170px">
          <img id="imgb" src="{% static 'imagenes/cuadroVI.png'%}" alt=" " weight="170px" height="170px">
          <hr>

        <br>La recuperación de formas y siluetas de décadas pasadas, como las
        hombreras, los corsés, los chalecos de punto, las capas o los vestidos
        cortos, que se reinventan y se adaptan al presente, dando un toque
        retro, preppy, futurista o festivo, según el caso. <br>
      </p>
      <hr>
      <p id="minifooter">
        REFERENCIAS <br>
        [1] Luis, N. (2023, 14 abril). Tendencias de primavera verano 2023: Qué se va a llevar la próxima temporada. 
        Vogue España. https://www.vogue.es/moda/articulos/tendencias-primavera-verano-2023-que-se-lleva
      </p>
    </div>
  </div>
</div>
</body>

<center><a id="btn1" href="{% url 'home:inicio'%}" class="btn btn-info" role="button">Regresar</a></center>



{% endblock content %}
